<ion-list>
    <ion-item button (click)="openStocks()">
        <ion-label>Stocks</ion-label>
    </ion-item>
    <ion-item button (click)="openCoursDeChange()">
        <ion-label>Cours de change</ion-label>
    </ion-item>
    <ion-item button (click)="openEmployers()">
        <ion-label>Employers SPA</ion-label>
    </ion-item>
    <ion-item button (click)="openPays()">
        <ion-label>Pays</ion-label>
    </ion-item>
    <ion-item button (click)="openParametrages()">
        <ion-label>Paramétrages</ion-label>
    </ion-item>
</ion-list>
